[Unit]
Description=minikube
After=network-online.target firewalld.service docker.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/root
ExecStart=/usr/bin/bash /sv/scripts/start_minikube_command.sh
ExecStop=/usr/bin/minikube stop
User=root
Group=root

[Install]
WantedBy=multi-user.target
